body{
  margin: 0px;
  background-color: rgb(17, 17, 37);
  color: aliceblue;
}

.container{
  display: flex;
  padding: 30px;
  margin: 30px;
  flex-direction: column;
  align-items: center;

}

.addBook{
  min-width: 30rem;
  max-width: 40rem;
  height: 4rem;
  margin: 10px;
  background-color: rgb(44, 211, 44);
  color: aliceblue;
  font-weight: 800;
  font-size: larger;
  border-radius: 1rem;
  border-color:  rgb(44, 211, 44);
}


.grid{
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: rgb(54, 52, 52);
  max-width: 100px;
  height: 100px;
  margin: 1.5rem;
  border-radius: 1rem;
  
}
.info{
  padding-bottom: 3rem;
  color: aliceblue;
  font-weight: 500;  
}

.content{
  display: grid;
  background-color: black;
  min-height: 30rem;
  min-width: 90%;
  grid-template-columns:1fr;
  grid-template-rows: 1fr;
}
.formOpaque{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(118, 0, 252, 0.281);
  display: flex;
  padding-top: 10rem;
  justify-content: center;
  
}
.formContainer{
  position: fixed;
  background-color: rgb(235, 230, 190);
  color: black;
  font-weight: 800;
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
}




.form{
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}

#title{
  margin-left: 2.2rem;
}
#author{
  margin-left: 1rem;
}
#pages{
  margin-left: 2.2rem;
}

input{
  border-radius: 1rem;
  width: 12rem;
  height: 1rem;
  font-weight: 500;
  font-size: medium;
  border-color: antiquewhite;
}
.removeBook{
  border-radius: 1rem;
  background-color: rgb(247, 38, 38);
  border-color: red;
  color: aliceblue;
  font-weight: 800;
}